<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <a href="/" class="site-logo">
                <div class="logo-icon footer-logo"></div>
            </a>
            
            <div class="footer-nav">
                <nav>
                    <a href="/">Home</a>
                    <a href="/#about">About</a>
                    <a href="/#services">Services</a>
                    <a href="/events">Events</a>
                    <a href="/sessions">Sessions</a>
                    <a href="/contact">Contact</a>
                    <a href="/book">Intimacy of Light</a>
                    <a href="/posts">Blog</a>
                </nav>
            </div>
            <div></div>
        </div>
        <div class="footer-copyright">
            <p>&copy; {new Date().getFullYear()} The Subtle Shift. All rights reserved.</p>
        </div>
    </div>
</footer> 