<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo-title-group">
                <div class="logo-container">
                    <a href="/" class="site-logo">
                        <img src="/images/subtleshiftspiral.svg" alt="The Subtle Shift" class="logo-icon" />
                    </a>
                </div>
                <div class="title-container">
                    <a href="/" class="title-link">
                        <span class="site-name foreground-title">The Subtle Shift</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
